<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SpatialServer.Geocoder">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="SpatialServer.IGeocoder">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/arcgis/rest/services/General/LWCComposite/GeocodeServer/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SpatialServer.SpatialQuery">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="SpatialServer.ISpatialQuery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/arcgis/rest/services/Layers/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SpatialServer.LayerEdit">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SpatialServer.ILayerEdit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/arcgis/rest/services/LayerEdit/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="QueryBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="strSQLConn" connectionString="Data Source=.\sqlexpress;Initial Catalog=Spatial;Persist Security Info=True;User ID=sa;Password=doodie101" />
    <add name="SQLQueryAllAddresses" connectionString="select full_Address from Spatial.dbo.address" />
    <add name="SQLQueryOneAddress" connectionString="select * from Spatial.dbo.address WHERE FULL_ADDRESS = '" />
    <add name="SQLFullAddressField" connectionString="FULL_ADDRESS" />
  </connectionStrings>
</configuration>
